$lightred: #D72638
$red: #590004
$dark: #050505
$grey: #363636
$light: #E2DEDE


*
	font-family: Avenir
	transition: .5s
	&:focus
		outline: none !important
body
	background-color: $dark
a
	text-decoration: none

.el-menu.el-menu--horizontal
	background-color: transparent
	border-bottom: 0 !important
	a
		color: $light !important
		&:hover
			color: $lightred !important
	.el-submenu__title
		color: $light !important
	.hypertube
		color: $lightred !important
		text-decoration: none
		font-size: 1.5rem
	.is-active
		border-bottom-color: $lightred !important
	.el-submenu__title
		&:hover, &:active, &:focus
			background-color: transparent
	.el-menu-item
		background-color: transparent !important
		&:hover, &:active, &:focus
			background-color: transparent !important
.el-menu--horizontal 
	.el-menu 
		background-color: $grey
		.el-menu-item
			background-color: $grey !important
			&:hover, &:active, &:focus 
				color: $light !important

#loginPage, #registerPage
	width: 100%
	#formContainer 
		background-color: transparent
		color: $light
		width: 50%
		margin-left: auto
		margin-right: auto
		position: absolute
		top: 15%
		left: 0
		right: 0
	.el-card
		border: none !important
		.el-form-item__label
			color: $light !important
		span.login
			color: $lightred
			font-size: 1.2rem
		a
			color: $lightred
		.el-button
			background-color: $lightred !important
			color: $light !important
			border: none


.el-loading-spinner 
	i, .el-loading-text
		color: $lightred !important
		